<%= form_tag(search_path, :method => :get, :class => 'form-horizontal', :id => 'search', :role => 'form') do |f| %>
  <% Iqvoc.search_sections.each do |section| %>
    <%= render "search_results/sections/#{section}" %>
  <% end %>

  <div class="form-group">
	  <%= label_tag 'qBroader', "Suche unterhalb", :class => 'col-sm-2 control-label' %>
	  <div class="col-sm-4 col-md-6">
	  		<% if @broader_concept %>
	  			<h4><%= @broader_concept.pref_label %></h4>
	  			<button type="button" class="btn btn-default btn-sm" onclick="document.getElementById('search_filter_broader_concept').value=''; submit()">Entfernen</button>
	  			<input  id="broader_concept" type="hidden" name="broader_concept" value="<%= @broader_concept.origin %>">
	  		<% else %>
			  <%= text_field_tag "search_filter_broader_concept", (@broader_concept ? @broader_concept.origin : ""),
			    :id => "search_filter_broader_concept",
			    :class => "entity_select",
			    :"data-query-url" => concepts_path(:format => :json),
			    :"data-entity-uri" => concept_path("{id}"),
			    :"data-singular" => true,
			    :"data-entities" => "[]",
			    :'data-no-results-msg' => t('txt.views.search_results.no_results')
			     %>
			<% end -%>
		</div>
  </div>
  <hr />
  <div class="well">
    <%= submit_tag t('txt.views.search_results.submit'), :class => 'btn btn-primary' %>
  </div>
<% end %>
